* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.page-container {
  background-image: url('https://devmentor.pl/ipfm-bg1');
  height: 100vh;
}

.logo {
  font-family: Impact, sans-serif;
  padding: 20px;
  text-align: center;
}