* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.page-container {
  background-image: url('https://devmentor.pl/ipfm-bg1');
  height: 100vh;
  background-size: cover;
}

.logo {
  font-family: Impact, sans-serif;
  padding: 20px;
  text-align: center;
}

.menu {
  background: rgb(77, 77, 209);
}

.menu-list {
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 60px;
}